a:focus {
    outline: none;
}

ul {
    list-style-type:none;
    padding: 0;
}

li.listitem, .ui-state-highlight {
    margin: 3px 3px 3px 3px;
    padding: 6px;

    font-size: 1em;
    height: 1.2em;
    line-height: 1.2em; /*must be same as height*/
}


