<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Google Visial - History test</title>

    <link href="http://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet" />

    <!-- The main CSS file -->
    <link href="style.css" rel="stylesheet" />

    <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<!-- Initialize a new AngularJS app and associate it with a module named "instantSearch"-->

<body ng-app="googleVisual" ng-controller="HistoryController">

    <ul>
        <li ng-repeat="query in queryHistory | matchOldQuery track by $index">
            <p>{{query}}</p>
        </li>
    </ul>

    <div class="bar">
        <!-- Create a binding between the searchString model and the text field -->
        <form ng-submit="searchSubmitted()">
            <input name="currentSearchQuery" type="hidden" ng-model="currentSearchQuery">
            <!-- Visual representation of current search query -->
            <div class="searchContainer">
                <div ng-repeat="term in (currentSearchQuery | separateTerms)" class="termBox">
                    <div class="insideTermBox">
                        <span class="term">{{term}}</span>
                        <div class="termCross"></div>
                    </div>
                </div>
                <div class="searchBarBox">
                    <input type="text" onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';" expanding rows="1" class="searchBar" ng-model="searchQueryAddition" ng-change="searchQueryAdditionFieldChanged()" spellcheck="false" autocomplete="false" autocapitalize="off" autocorrect="off" />
                </div>
            </div>

        </form>
    </div>

    <ul>
        <li ng-repeat="item in searchData[searchData.length-1].items">
            <p>{{item.title}}</p>
        </li>
    </ul>

    <!-- Include AngularJS from Google's CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-resource.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-animate.min.js"></script>-->
    <script src="googleService.js"></script>
    <script src="googleVisual.js"></script>

</body>

</html>
